<%# <%= render 'layouts/header'%> %>

<div class="container" id="index-container">
  <div class="jumbotron">
    <h1 class="display-4">GAME-GARDEN</h1>
    <p class="lead">オススメのゲームを紹介したり、紹介されている記事を見て参考にしよう！！</p>
    <hr class="my-4">
    <p>気になっているゲームを検索しよう！　ジャンル　機種　タイトル検索　どこからでも見れる！</p>
  </div>