body {
  background-image: image-url('FF13.jpg');
  background-repeat: no-repeat;
}

#index-container{
  margin-top: 140px;
  color: black;
  
}

.jumbotron{
  background-color:rgba(204, 232, 255, 0.65);
}

.tag-name {
  font-size: small;
}

.header-title {
  margin-right: 30px;
}

.nav-create {
  padding: 0 40px;
}

.dropdown {
  padding: 0 30px;
}

.form-check {
  background-color: #343a40;
  color: #ffffff;
  padding: 0 5px;
}

.title {
  text-align: center;
  background-color: #343a40;
  color: #ffffff;
  line-height: 1;
  padding: 1px 0;
}

.alert {
  margin-bottom: 0em;
}

.comment {
  padding: 0;
  width: 355px;
  margin-right: 15px;
}